// Media Queries
$isDesktop: 991px;

// Colors
$yellowPrimary: #ffff33;
$bluePrimary: #25408f;
$blueSecondary: #727d8e;
$blueTertiary: #a1b0c6;
$gray200: #b3b3b3;

// Dark Theme
$blue000: #022c43;
$blue100: #053f5e;
$blue200: #115173;

$yellow000: #ffd700;

// Border
$border: 8px solid $yellowPrimary;
$borderThin: 5px solid $yellowPrimary;

// Plus Pattern
$foregroundPattern: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgxMzUpICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSgxNywgODEsIDExNSwxKSI+PC9yZWN0PiA8Y2lyY2xlIGZpbGw9InJnYmEoNSwgNjMsIDk0LDEpIiBjeD0iMjAiIGN5PSIxNCIgcj0iOCI+PC9jaXJjbGU+PHBhdGggZmlsbD0icmdiYSgyLCA0NCwgNjcsMSkiIGQ9Ik0gMjAgMTIgYSA4IDggMCAwIDAgMCAxNmEgOCA4IDAgMCAwIDAgLTE2IHogTSAtMTAgLTEwIGggNjAgdiA2MCBoIC02MCB6Ij48L3BhdGg+PC9wYXR0ZXJuPiAgPC9kZWZzPiA8cmVjdCBmaWxsPSJ1cmwoI3BhdHRlcm4pIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIj48L3JlY3Q+PC9zdmc+');
