@import 'imports', 'config';

// Global Styles
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Main Styles
body {
  background-color: $blue000;
  background-image: $foregroundPattern;
  color: whitesmoke;
  font-family: $font-stack;
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;

  .site-container {
    // width: 100vw;
    min-height: 100vh;
    padding-top: 60px;

    // Desktop
    @media (min-width: $breakpoint-desktop) {
      display: grid;
      grid-template-columns: 1fr auto minmax(65ch, 1fr) 1fr;
      grid-template-rows: 1fr auto;
    }

    // Mobile
    @media (max-width: $breakpoint-desktop) {
      margin: 0 5%;
    }

    header {
      grid-column: 2 / 3;

      .sticky-container {

        // Desktop
        @media (min-width: $breakpoint-desktop) {
          border-left: $border;
          padding-left: 20px;
          position: -webkit-sticky; // Safari
          position: sticky;
          top: 60px;
        }

        // Mobile
        @media (max-width: $breakpoint-desktop) {
          margin: 0 auto;
          max-width: fit-content;
          text-align: center;
        }

        .site-title {
          a {
            color: $yellowPrimary;
            transition: 0.75s ease-out;

            &:hover {
              color: $blue200;
            }
          }
        }

        .nav-container {
          padding-top: 10px;

          ul {
            display: flex;
            flex-direction: column;
            list-style: none;

            li {
              a {
                // Yellow background hover animation
                background: linear-gradient(
                  to right,
                  $yellowPrimary 50%,
                  transparent 50%
                );
                background-position: right bottom;
                background-size: 250% 100%;
                display: block;
                padding: 6px;
                position: relative;
                transition: 0.75s ease-out;

                &:hover {
                  background-position: left bottom;
                  color: $blue000;
                  font-weight: bold;
                }
              }
            }
          }

          .current-menu-item {
            a {
              background: $yellowPrimary;
              color: $blue000;
              font-weight: bold;
            }
          }
        }
      }
    }

    .content {
      max-width: 70ch;
      padding-bottom: 1.5rem;

      // Desktop
      @media (min-width: $breakpoint-desktop) {
        grid-column: 3 / 4;
        padding-left: 3.75rem;
      }

      // Mobile
      @media (max-width: $breakpoint-desktop) {
        margin: 2rem auto 0 auto;
      }

      h1 {
        text-align: center;
      }

      em {
        color: $blueSecondary;
      }

      a {
        text-decoration-color: $yellowPrimary;
        text-decoration-line: underline;
        text-decoration-style: double;

        &:hover {
          color: $yellowPrimary;
          text-decoration-color: whitesmoke;
          text-decoration-style: wavy;
        }
      }

      .headshot {
        border: $borderThin;
        width: 100%;
      }

      .project-card-grid {
        display: grid;

        // Desktop
        @media (min-width: $breakpoint-desktop) {
          grid-template-columns: repeat(2, 1fr);
        }

        .project-card {
          border: $borderThin;
          margin: 1rem auto;
          max-width: 260px;
          overflow: hidden;
          position: relative;
          transition: 0.75s ease-out;

          a {
            text-decoration: none;
          }

          .project-card-image {
            display: grid;
            height: 250px;

            img {
              align-content: center;
              object-fit: cover;
            }
          }

          .project-card-header {
            background-color: $yellowPrimary;
            height: 100%;
            padding: 0.5rem 0 0.25rem 1rem;

            h2 {
              color: $blue000;
              margin-block: 0;
            }

            p {
              margin-block: 0;
            }
          }

          &:hover {
            transform: translateY(-1rem);
          }
        }
      }

      .block {
        background-color: $blue000;
        border: $borderThin;
        margin-top: 2rem;
        padding: 0 1rem;

        h2:first-of-type {
          background: $yellowPrimary;
          color: $blue000;
          margin: 0 -1rem;
          margin-block: 0;
          padding-bottom: 0.5rem;
          padding-left: 1rem;
          padding-top: 0.25rem;
        }
      }

      .full-image {
        background-color: $blue000;
        border: $borderThin;
        margin-top: 2rem;
        padding: 0 1rem;

        h2:first-of-type {
          background: $yellowPrimary;
          color: $blue000;
          margin: 0 -1rem;
          margin-block: 0;
          padding-bottom: 0.5rem;
          padding-left: 1rem;
          padding-top: 0.25rem;
        }

        // Give all captions a margin
        p:not(:last-child) {
          margin: 0 -1rem;
          margin-block: 0;
        }

        // In the event the last child is also the first of type
        p:first-of-type {
          margin: 0 -1rem;
          margin-block: 0;
        }

        .youtube-embed-container {
          margin: 0 -1rem;
          margin-block: 0;

          iframe {
            height: 360px;
            width: 100%;
          }
        }
      }

      ul {
        padding: 1rem;
      }
    }

    footer {
      border-top: $border;
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      text-align: center;
    }
  }

  a {
    background-color: transparent;
    color: whitesmoke;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;

  &-track {
    background: $blue100;
  }

  &-thumb {
    background: $yellowPrimary;

    &:hover {
      background: $blue200;
    }
  }
}

audio,
canvas,
progress,
video {
  display: inline-block;

  audio:not([controls]) {
    display: none;
    height: 0;
  }
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

b,
strong {
  color: $yellowPrimary;
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  color: inherit;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 1.45rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-rendering: optimizeLegibility;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  margin-bottom: 1.45rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  color: $yellowPrimary;
  font-family: monospace;
  font-size: 1em;
}

figure {
  margin-bottom: 1.45rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

hr {
  background: $yellowPrimary;
  border: none;
  box-sizing: content-box;
  height: 1px;
  margin-bottom: calc(1.45rem - 1px);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: visible;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input {
  border: 2px solid $blueTertiary;
  border-radius: 4px;
  height: 48px;
  width: 100%;
}

button {
  background: $yellowPrimary;
  border: none;
  border-radius: 4px;
  color: $blue000;
  font-weight: 700;
  height: 48px;
  margin-top: 16px;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background: whitesmoke;
  }
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
  appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin-bottom: 1.45rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0.35em 0.625em 0.75em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: circle;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-bottom: calc(1.45rem / 2);
  margin-left: 1.45rem;
  margin-top: calc(1.45rem / 2);
}

li > ul {
  margin-bottom: calc(1.45rem / 2);
  margin-left: 1.45rem;
  margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
    'Liberation Mono', Menlo, Courier, monospace;
  padding: 0;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
