.app {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  border-left: 8px solid #ffff33;
}

.navbar-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(400px, 1fr) auto minmax(200px, 1fr);
      grid-template-columns: minmax(400px, 1fr) auto minmax(200px, 1fr);
  background-color: #ffff33;
}

.navbar-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffff33;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0px 0px 0px 0px;
}

.navbar-container .navbar ul li {
  float: left;
}

.navbar-container .navbar a {
  display: block;
  color: #999999;
  text-align: center;
  width: 60px;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 15px;
}

.navbar-container .navbar a:hover {
  color: white;
  background-color: #252525;
}

.navbar-container .navbar a.active {
  color: #ffff33;
  background-color: #252525;
  font-weight: bold;
}

.navbar-container a {
  text-decoration: none;
}

.navbar-container a h2 {
  margin-left: auto;
  margin-right: auto;
  color: #25408f;
}

.content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min(65ch, 100%) 1fr;
      grid-template-columns: 1fr min(65ch, 100%) 1fr;
  background-color: #252525;
  color: white;
}

.content-container .project-card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
}

.content-container .project-card-grid .project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 360px;
  width: 400px;
  min-width: 250px;
  padding: 0.5rem;
  background: #252525;
  -webkit-box-shadow: -1rem 0 3rem #000;
          box-shadow: -1rem 0 3rem #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content-container .project-card-grid .project-card a {
  text-decoration: none;
  color: white;
}

.content-container .project-card-grid .project-card .card-image {
  display: -ms-grid;
  display: grid;
  height: 240px;
}

.content-container .project-card-grid .project-card .card-image img {
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-container .project-card-grid .project-card .card-header {
  padding-left: 0.5rem;
  text-align: left;
}

.content-container .project-card-grid .project-card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.content-container .project-card-grid .project-card:not(:first-child) {
  margin-left: -130px;
}

.content-container > * {
  -ms-grid-column: 2;
  grid-column: 2;
}

.footer-container {
  width: 100%;
  background-color: #ffff33;
}

.full-bleed {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffff33;
}

::-webkit-scrollbar-thumb {
  background: #252525;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
/*# sourceMappingURL=App.css.map */