$yellowPrimary: #ffff33;
$bluePrimary: #25408f;
$blueSecondary: #727d8e;
$blueTertiary: #a1b0c6;
$gray500: #999999;

// Border
$border: 8px solid $yellowPrimary;

// Dark Theme
$base: #252525;

$textDefault: #606060;
$disabled: #767676;
$placeholder: #aaaaaa;
$lightGrayBackground: #f5f5f5;
