.header {
  @extend %header;
}

.header-link {
  @extend %header;
  @extend %interactive;
}

%header {
  display: inline-flex;
  max-width: 300px;
  text-align: left;
  padding: 0 1rem 0 1rem;
  color: white;
  background-color: $blue100;
  border-top: $border;

  transition: 0.2s;

  .arrow {
    fill: white;
    width: 48px;
    height: 48px;
    padding: 1rem 0 0 1rem;
  }
}

%interactive {
  &:hover {
    transform: translateY(-0.5rem);

    .arrow {
      transform: translateX(0.5rem);
    }
  }
}
