// Position component
@import 'config';

.position-block {
  @extend %resume-block;

  .position-header {
    min-width: 40%;

    a {
      color: white;

      &:hover {
        color: $yellowPrimary;
      }
    }
  }

  .position-description {
    max-width: 60%;
  }
}

// SkillCategory component
.skill-category-block {
  @extend %resume-block;

  .skill-category {
    min-width: 40%;
  }

  .skill-list {
    max-width: 60%;
  }
}

%resume-block {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}
