@import 'buttons';
@import 'config';
@import 'utilities';

// App
.app {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  border-left: $border;
}

// Navbar
.navbar-container {
  position: sticky;
  position: -webkit-sticky; // Safari
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(400px, 1fr) auto minmax(200px, 1fr);
  background-color: $yellowPrimary;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      background-color: $yellowPrimary;
      list-style: none;
      height: 100%;
      padding: 0;
      margin: 0px 0px 0px 0px;

      li {
        float: left;
      }
    }

    a {
      display: block;
      color: $gray500;
      text-align: center;
      width: 60px;
      padding: 25px 25px;
      text-decoration: none;
      font-size: 15px;

      &:hover {
        color: white;
        background-color: $base;
      }

      &.active {
        color: $yellowPrimary;
        background-color: $base;
        font-weight: bold;
      }
    }
  }

  a {
    text-decoration: none;

    h2 {
      margin-left: auto;
      margin-right: auto;
      color: $bluePrimary;
    }
  }
}

// Content
.content-container {
  display: grid;
  grid-template-columns: 1fr #{'min(65ch, 100%)'} 1fr;
  background-color: $base;
  color: white;

  .project-card-grid {
    display: flex;
    padding: 3rem;

    .project-card {
      display: flex;
      position: relative;
      flex-direction: column;
      overflow: hidden;
      height: 360px;
      width: 400px;
      min-width: 250px;
      padding: 0.5rem;

      background: $base;
      box-shadow: -1rem 0 3rem #000;

      transition: 0.2s;

      a {
        text-decoration: none;
        color: white;
      }

      .card-image {
        display: grid;
        height: 240px;

        img {
          align-content: center;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-header {
        padding-left: 0.5rem;
        text-align: left;
      }

      &:hover {
        transform: translateY(-1rem);
      }

      &:not(:first-child) {
        margin-left: -130px;
      }
    }
  }
}

.content-container > * {
  grid-column: 2;
}

// Footer
.footer-container {
  width: 100%;
  background-color: $yellowPrimary;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;

  &-track {
    background: $yellowPrimary;
  }

  &-thumb {
    background: $base;

    &:hover {
      background: $gray500;
    }
  }
}
